html,
body {
  height: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  /* background-image: url("../img/top_bg.svg"); */
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  background-color: #f2eafd;
}
@media screen and (max-width: 600px) {
  body {
    background-size: auto;
  }
  .profile-img {
    max-width: 50px;
  }
}
#main {
  transition: all 0.25s;
}
.profile-img {
  border: 4px solid #fff;
  filter: saturate(0);
  
}
.location {
  color: #777;
  padding: 8px 0 0 0;
}
.profile {
  /* box-shadow: 0px 0px 20px #ddd; */
  font-size: 2em;
  color: #333;
  font-weight: 200;
  z-index: 2;
}

.intro > .lead {
  font-size: 3em;
  font-weight: 300;
}
.intro > .small {
  font-size: 1.2em;
}
.badge {
  padding: 0.3rem 0.4rem !important;
  font-weight: 300;
}
.badge-primary {
  background: #00c5e5;
}
.badge-success {
  background: #7819ec;
}
.btn-primary {
  background: #7819ec;
  border: none;
}
.btn-primary:hover {
  background: #842DED;
}
.modal {
  padding: 0 !important;
}

.modal .modal-body {
  height: 100vh;
  width: 100vh;
  overflow-y: auto;
}

.modal-body {
  background-color: tomato !important;
}
.modal {
  background-image: linear-gradient(120deg, #764ba2 80%, #7819ec 100%);
}

.contact-box {
  width: 100%;
  margin: 100px auto;
  display: block;
}

.modal-header {
  border-bottom: none;
}
.modal-header > button > span {
  color: #fff;
  font-size: 3rem;
  text-shadow: 0 1px 0 #000;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: -2px;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 40px;
  transition: all 0.25s ease-in-out;
  box-shadow: 0px 0px 30px 0px #c0c0c0;
  box-sizing: border-box;
  border-left: 2px solid #7819ec;
}

.sidenav .skills {
  margin: 5px 20px;
}
.sidenav .work {
  margin: 5px 20px;
}
.skills > ul > li > span.small {
  color: #aaa;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-right: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 1em;
  }
}

.list-group-item {
  background-color: #fff;
  padding: 0.75rem 0.1rem;
}

.footer {
  padding: 0px 0 30px 0;
  font-size: 1.5em;

}
.footer a {
  color: #7819ec;
  text-decoration: underline;
  text-decoration-style: dashed;
}
.footer a:hover {
  color: #842DED;
  text-decoration: none;
  
}
